
@{
    ViewBag.Title = "ürünekle";
}

<h2>ürünekle</h2>
<hr />

@using (Html.BeginForm("ürünekle","Home",FormMethod.Post))
{

    <div class="form-horizontal">
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-md-3 control-label">Ürün adi</label>
            <div class="col-md-9">
                @Html.TextBox("ürünadi", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">

            <label for="aciklama" class="col-md-3 control-label">Açıklama</label>
            <div class="col-md-9">
                @Html.TextArea("aciklama", null, new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">

            <label for="fiyat" class="col-md-3 control-label">Ürün Fiyatı</label>
            <div class="col-md-9">
                @Html.TextBox("fiyat", null, new { @class = "form-control" })
            </div>




        </div>

        <div class="form-group">

            <label for="resim " class="col-md-3 control-label">Resim</label>
            <div class="col-md-9">
                @Html.TextBox("resim", null, new { @class = "form-control" })
                
            </div>


        </div>

        <div class="form-group">

            <label for="satistami" class="col-md-3 control-label">Satişta mı </label>
            <div class="col-md-3">
                Evet:@Html.RadioButton("satistami", true)
                Hayır:@Html.RadioButton("satistami", false)
            </div>




            </div>


        <div class="col-lg-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>






        </div>


}